* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  font-family: 'Inter', sans-serif;
}
.main-section {
  max-width: 1320px;
  display: block;
  margin: 50px auto;
}

.banner-section {
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
}
.banner-greeting {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}
.banner-title {
  color: #fff;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: 95px;
  width: 632px;
  margin: 0 auto;
}

/* New year secion style starts here */
.new-year-section {
  margin: 0 auto;
  justify-content: center;
}
.new-year-offer {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  padding-top: 120px;
}
.new-year-greeting {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 48px;
}
.new-year-categories {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}
.new-year-section img {
  width: 800px;
  height: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
/* New year secion style ends here */

/* party section starts here */

.party-container {
  margin-top: 120px;
  display: flex;
  background-image: url(../images/Vectorrr.png);
  background-repeat: no-repeat;
}
.jhamela img {
  display: block;
  margin-left: 90px;
  padding: 70px;
}
.party-title {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 7px;
  padding-top: 126px;
  padding-left: 126px;
  width: 640px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 700px;
  padding: 25px 0px 0px 126px;
}
.party-button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffad01;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0px;
  margin: 48px 0px 140px 158px;
}
/* party section ends here */

/* Location section starts here */
.location {
  padding: 100px 385px 0px 385px;
  margin-top: 120px;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
}
.location-description {
  color: #070211;
  font-size: 25px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-red {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-button {
  border-radius: 8px;
  background-color: #f00;
}
/* Location section ends here */

/*Coming soon style starts here */
.coming-soon {
  display: flex;
  margin-top: 120px;
  justify-content: space-around;
}
.coming-soon-offer {
  color: #f00;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.coming-soon-title {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.coming-soon-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  width: 390px;
  margin-right: 60px;
}
.coming-soon-image {
  border: 15px solid #f00;
  border-radius: 100%;
  width: 100%;
}
.coming-soon-div {
  margin-left: 120px;
}
.coming-soon-year {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
}
.coming-soon-greeting {
  color: rgba(7, 2, 17, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}
.coming-soon-image2 {
  width: 130px;
  height: 130px;
}
/*Coming soon style ends here */

/*Holiday special offer style  starts here  */
.holiday {
  margin-top: 120px;
  text-align: center;
}
.holiday-title {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 500;
}
.holiday-offer {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  padding: 10px 0px;
}
.holiday-special {
  color: #f00;
  font-size: 72px;
  font-weight: 900;
}
.holiday-paragraph {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 20px;
}

/*Holiday special offer style  ends here  */

/* gorup image container style starts here */
.group-image-container {
  margin-top: 120px;
}
.group-image-heading {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
.group-image-title {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 20px;
}
.group-image-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 0px 30px 0px;
}
/* gorup image container style ends here */

/* Subscribe section style starts here  */
.subscribe-section {
  margin-top: 120px;
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  text-align: center;
}
.subscribe-image {
  width: 150px;
  height: 150px;
  margin-top: 80px;
}
.subscribe-title {
  color: #070211;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 40px 0px 20px 0px;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 210px;
  margin-bottom: 40px;
}
.subscribe-section input[type='email'] {
  width: 500px;
  height: 50px;
  margin-right: 0px;
  outline: none;
  display: inline;
  border: 0px;
  margin: 0px;
}
.subscribe-section input[type='email']::placeholder {
  padding: 20px;
}
.subscribe-btn {
  display: inline;
  border: 0;
  margin: 0px;
  width: 138px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f00;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border: 0px;
  margin-bottom: 60px;
}

/* Subscribe section style ends here  */

/* footer section style starts here */
footer {
  background-color: #070211;
}
.footer {
  max-width: 1320px;
  display: block;
  margin: 50px auto;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.footer-location {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  width: 350px;
  height: 60px;
  margin-bottom: 50px;
}
.common-class {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
hr {
  background-color: rgba(255, 255, 255, 0.15);
}
.footer-social-media {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 20px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 120px;
}
.contact-number {
  display: flex;
  align-items: center;
}
.contact-number img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
/* footer section style ends here */
